<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146200811597-dsargpt085tml2k7fb0180muii7hldj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146200811597-dsargpt085tml2k7fb0180muii7hldj3</string>
	<key>API_KEY</key>
	<string>AIzaSyD8FdviLNQuePioOBePga3FA_d7dgrZQKU</string>
	<key>GCM_SENDER_ID</key>
	<string>146200811597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.hse</string>
	<key>PROJECT_ID</key>
	<string>hse-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>hse-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146200811597:ios:3d0e8d714f7a507c97e404</string>
</dict>
</plist>